$color: #333;
$backgroundColor: #FFF;

:root {

    --color: #{$color};
    --background-color: #{$backgroundColor};

}

.app {

    width: 100%;
    min-height: 100vh;

    overflow: hidden;

    color: #{$color};
    color: var(--color,#{$color});

    background-color: #{$backgroundColor};
    background-color: var(--background-color,#{$backgroundColor});

    .grid-container {

        display: grid;
        grid-template-columns: 100% 100%;
        grid-template-rows: 1fr;
        grid-template-areas: "left right";

        @media (min-width: 768px) {

            grid-template-columns: 1fr 36%;

        }

        .left { grid-area: left; }

        .right {

            grid-area: right;
            padding: 16px;
            height: 100vh;
            overflow-y: auto;

        }

    }

    label {

        display: block;

    }

    section {

        margin: 0 0 16px;

        @media (min-width: 768px) {

            margin-bottom: 0px;

        }

    }
}
