$color: #333;
$backgroundColor: #FFF;

:root {

    --color: #{$color};
    --background-color: #{$backgroundColor};

}

.app {

    width: 100%;
    min-height: 100vh;

    color: #{$color};
    color: var(--color,#{$color});

    background-color: #{$backgroundColor};
    background-color: var(--background-color,#{$backgroundColor});

    .grid-container {

        @media (min-width: 768px) {

            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 36%;
            grid-auto-flow: row dense;
            grid-template-areas: "left right";

        }

        .left { grid-area: left; }

        .right {

            grid-area: right;
            padding: 16px;

            @media (min-width: 768px) {

                max-height: 100vh;
                overflow-y: auto;

            }

        }

    }

    label {

        display: block;

    }

    section {

        margin: 0 0 16px;

        @media (min-width: 768px) {

            margin-bottom: 0px;

        }

    }
}
