$color-start: #76b69c;
$color-end: #004357;
$color-accessible: #2c3e50;

:root {

    --color-start: #{$color-start};
    --color-end: #{$color-end};
    --color-accessible: #{$color-accessible};

    font-size: 16px;

}

// Skeleton
body {

    padding-top: env( safe-area-inset-top, 0 );
    padding-right: env( safe-area-inset-right, 0 );
    padding-bottom: env( safe-area-inset-bottom, 0 );
    padding-left: env( safe-area-inset-left, 0 );
    line-height: 1.5;

}

.markdown-body .button,
.markdown-body button,
.markdown-body a,
.button,
button,
a {

    display: inline-block;

    margin: 0 4px 4px;
    border-width: 0;

    border-radius: 3px;
    transition: all .3s cubic-bezier( .455, .03, .515, .955 );
    will-change: auto;

}

.markdown-body button,
.markdown-body .button,
.button,
button {

    margin-top: 24px;
    padding: 8px 24px;
    color: #fff;
    text-decoration: none;
    background: rgba( 0, 67, 87, .2 );
    background-image: linear-gradient( 90deg, #{$color-start}, #{$color-end} );
    background-image: linear-gradient( 90deg, var( --color-start, #{$color-start} ), var( --color-end, #{$color-end} ) );
    background-position: left center;
    appearance: none;

    &:hover {

        background-position: right center;

    }

}

.markdown-body a,
a {

    color: #{$color-start};
    color: var( --color-start, #{$color-start} );

}

// Display
.d {

    &--block {

        display: block;

    }

}

// Texs
.text {

    &--white {

        color: #fff;

    }

}

// Overlays
.overlay {

    &--blue {

        background: rgba( 0, 67, 87, .2 );
        background: linear-gradient( 180deg, #{$color-end}, transparent );
        background: linear-gradient( 180deg, var( --color-end, #{$color-end} ), transparent );

    }

}

.markdown-body {

    .hljs-meta,
    .hljs-meta-keyword,
    .hljs-attr,
    .hljs-comment {

        color: #{$color-accessible} !important;
        color: var( --color-accessible, #{$color-accessible} ) !important;

    }

}
